/* Custom Styles for the Hero Section */
.hero {
  background: radial-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.1)
    ),
    url('../img/project3.png') center/cover no-repeat;
  /* If you don't want the pudding background,
     pick something else or a solid color! */
  height: 80vh;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  /* filter:blur(1px); */
}

.card:hover{
  background-color: lightgray;
}

#sketch-container-a, #sketch-container-b {
        border: 1px solid #ccc;
        margin: 20px auto;
        width: 90%;
        max-width: 600px; /* limit how wide the canvas can get */
      }
/* Just some margin/padding tweaks */
.section-title {
  margin-bottom: 1rem;
}

.card {
  margin-top: 1rem;
}
